<footer class="content-footer footer bg-footer-theme">
    <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
        <div class="mb-2 mb-md-0">
        <script>
            document.write(new Date().getFullYear());
        </script>
        ©
           Copyright
        <a href="https://facebook.com/yalog.0" target="_blank" class="footer-primary fw-semibold ft-hv" style="color: #007bff;">Nguyễn Thiện Nhân</a>
        </div>
        <div>
            <a href="https://facebook.com/yalog.0" class="footer-link me-4" target="_blank">Facebook</a>
            <a href="https://zalo.me/0353654359" target="_blank" class="footer-link me-4">Zalo</a>
            <form method="post" class="footer-link me-4" action="/auth/logout">
            <button type="submit" class="btn btn-sm btn-outline-danger"><i class="bx bx-log-out-circle"></i> Logout</button>
            </form>
        </div>
    </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.4.26/sweetalert2.all.min.js" integrity="sha512-bVcYYoHEq3wY3x3w9TMN1dt25bbLyGO9xfAbGgTqCdirYUht2rR+drAMtvlduQ7sA0/XRoFu1oWMVEw8Uno0Gw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>