<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags --> 
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Hệ thống dịch vụ mạng xã hội Facebook</title>
		<link rel="stylesheet" href="vendors/mdi/css/materialdesignicons.min.css">
		<link rel="stylesheet" href="vendors/owl.carousel/css/owl.carousel.css">
		<link rel="stylesheet" href="vendors/owl.carousel/css/owl.theme.default.min.css">
		<link rel="stylesheet" href="vendors/aos/css/aos.css">
		<link rel="stylesheet" href="vendors/jquery-flipster/css/jquery.flipster.css">
		<link rel="stylesheet" href="css/style.css">
<%- include('main') %>
	</head>
	<body data-spy="scroll" data-target=".navbar" data-offset="50">
		<div id="mobile-menu-overlay"></div>
		<nav class="navbar navbar-expand-lg fixed-top">
			<div class="container">
				<a class="navbar-brand" href="/home"><span style="font-weight: 700;">APU</span></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"><i class="mdi mdi-menu"> </i></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
					<div class="d-lg-none d-flex justify-content-between px-4 py-3 align-items-center">
						<span style="font-weight: 700;">APU</span>
						<a href="javascript:;" class="close-menu"><i class="mdi mdi-close"></i></a>
					</div>
					<ul class="navbar-nav ml-auto align-items-center">
						<li class="nav-item active">
							<a class="nav-link text-capitalize" href="/home">Trang chủ</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-capitalize" href="https://facebook.com/yalog.0">Liên hệ và hỗ trợ</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-capitalize btn btn-primary rounded" href="/auth/login">Đăng nhập</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-capitalize btn btn-success rounded" href="/auth/register">Đăng kí</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="page-body-wrapper">
			<section id="home" class="home">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<div class="main-banner">
								<div class="d-sm-flex justify-content-between">
									<div data-aos="zoom-in-up">
										<div class="banner-title">
												<h3 class="font-weight-medium" style="font-size: 40px;">Hệ Thống Dịch Vụ Mạng Xã Hội Giá Rẻ !
											</h3>
										</div>
										<p class="banner-title mt-3" style="opacity: 0.8;font-size:18px ;">Hệ thống chuyên cung cấp các dịch vụ tăng Like, Follow, Share, Comment, View Video,... cho các Mạng xã hội như Facebook...
										</p>
										<a href="/home" class="btn btn-secondary mt-3 rounded">Bắt Đầu Ngay</a>
									</div>
									<div class="mt-5 mt-lg-0">
										<img src="images/group.png" alt="marsmello" class="img-fluid" data-aos="zoom-in-up">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="our-services" id="services">
				<div class="container">
					<div class="row" data-aos="fade-up">
						<div class="col-sm-4 text-center text-lg-left">
							<div class="services-box" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
								<img src="images/digital-strategy.svg" alt="digital-strategy" data-aos="zoom-in">
								<h6 class="text-dark mb-3 mt-4 font-weight-medium">Công nghệ
								</h6>
								<p>Hệ thống được vận hành hoàn toàn tự động 24/24.
								</p>
							</div>
						</div>
						<div class="col-sm-4 text-center text-lg-left">
							<div class="services-box pb-0" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
								<img src="images/saving-strategy.svg" alt="saving-strategy" data-aos="zoom-in">
								<h6 class="text-dark mb-3 mt-4 font-weight-medium">Bảo mật
								</h6>
								<p>Chúng tôi cam kết sẽ bảo mật thông tin người dùng 1 cách tốt nhất. 
								</p>
							</div>
						</div>
						<div class="col-sm-4 text-center text-lg-left">
							<div class="services-box pb-lg-0" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
								<img src="images/growth-strategy.svg" alt="growth-strategy" data-aos="zoom-in">
								<h6 class="text-dark mb-3 mt-4 font-weight-medium">Hỗ trợ
								</h6>
								<p>Đội ngũ hỗ trợ luôn lắng nghe ý khiến khách hàng để phát triển hệ thống.
								</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- <section class="pricing-list" id="plans">
				<div class="container">
					<div class="row" data-aos="fade-up" data-aos-offset="-500">
						<div class="col-sm-12">
							<div class="d-sm-flex justify-content-between align-items-center mb-2">
								<div class="">
									<h3 class="font-weight-medium text-dark">Cấp bậc ưu đãi khách hàng</h3>
								</div>
							</div>
						</div>
					</div>
					<div class="row"  data-aos="fade-up" data-aos-offset="-300">
						<div class="col-sm-4">
							<div class="pricing-box selected">
								<img src="images/starter.svg" alt="starter">
								<h6 class="font-weight-medium title-text">Thành viên</h6>
								<h2 class="text-amount mb-4 mt-2">0đ</h2>
								<ul class="pricing-list">
									<li>Không có ưu đãi</li>
								</ul>
								<a href="/recharge/banking" class="btn rounded btn-outline-primary">Xem ngay</a>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="pricing-box selected">
								<img src="images/proffessional.svg" alt="starter">
								<h6 class="font-weight-medium title-text">Cộng tác viên</h6>
								<h2 class="text-amount mb-4 mt-2">500,000đ</h2>
								<ul class="pricing-list">
									<li>Có ưu đãi giá dịch vụ cộng tác viên.</li>
								</ul>
								<a href="/recharge/banking" class="btn rounded btn-outline-primary">Xem ngay</a>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="pricing-box selected">
								<img src="images/premium.svg" alt="starter">
								<h6 class="font-weight-medium title-text">Đại lý</h6>
								<h2 class="text-amount mb-4 mt-2">20,000,000đ</h2>
								<ul class="pricing-list">
									<li>Có nhiều ưu đãi giá dịch vụ đại lý.</li>
								</ul>
								<a href="/recharge/banking" class="btn rounded btn-outline-primary">Xem ngay</a>
							</div>
						</div>
					</div>
				</div>
			</section> -->
			<section class="our-process" id="about">
				<div class="container">
					<div class="row">
						<div class="col-sm-6" data-aos="fade-up">
							<h3 class="font-weight-medium text-dark">Bạn còn chờ đợi gì nữa?</h3>
							<p class="font-weight-medium mb-4">Hãy sử dụng thử dịch vụ của chúng tôi nhé.
							</p>
							<div class="d-flex justify-content-start mb-3">
								<a href="/auth/login" class="mx-1 rounded btn btn-primary">Đăng Nhập</a>
								<a href="/auth/register" class="mx-1 rounded btn btn-primary">Đăng Kí</a>
							</div>
						</div>
						<div class="col-sm-6 text-right" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
							<img src="images/idea.png" alt="idea" class="img-fluid">
						</div>
					</div>
				</div>
			</section>
			<section class="contactus" id="contact">
			</section>
		</div>
		<footer class="footer">
			<div class="footer-bottom">
				<div class="container">
					<div class="d-flex justify-content-center align-items-center">
						<div class="d-flex align-items-center">
							<p class="mb-0 text-small pt-1">© 2022 <a href="/" class="text-white text-decoration-none">APU</a> Hệ thống được phát triển và vận hành bởi <a class="text-white text-decoration-none" target="_blank" href="https://facebook.com/yalog.0">Nguyễn Thiện Nhân</a>.</p>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<script src="vendors/base/vendor.bundle.base.js"></script>
		<script src="vendors/owl.carousel/js/owl.carousel.js"></script>
		<script src="vendors/aos/js/aos.js"></script>
		<script src="vendors/jquery-flipster/js/jquery.flipster.min.js"></script>
		<script src="js/template.js"></script>
	</body>
</html>